.admin-dashboard {
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 2px;
}

.admin-dashboard h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.admin-dashboard h4 {
  font-size: 1.75rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

.admin-dashboard section {
  margin-bottom: 40px;
}

.admin-dashboard .table-wrapper {
  width: 100%;
  overflow-x: auto; 
}

.admin-dashboard table {
  width: 100%;
  min-width: 700px;
  table-layout: fixed;
  border-collapse: collapse;
}



.admin-dashboard th,
.admin-dashboard td {
  padding: 15px;
  text-align: left;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-dashboard th {
  background-color: #f1f1f1;
}

.admin-dashboard td {
  background-color: #ffffff;
}

.admin-dashboard td:last-child {
  text-align: center;
  white-space: nowrap;
}

.admin-dashboard td:last-child > div {
  display: flex;
  justify-content: center;
  gap: 6px;
  flex-wrap: wrap;
}

.admin-dashboard button {
  width: 90px; 
  padding: 8px 0;
  font-size: 0.9rem;
  margin: 4px 2px;
  border-radius: 3px !important;
}

.admin-dashboard .btn-danger {
  background-color: #dc3545;
  color: white;
}

.admin-dashboard .btn-success {
  background-color: #28a745;
  color: white;
}

button:hover,
.btn:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .admin-dashboard h2 {
    font-size: 2rem;
  }

  .admin-dashboard h4 {
    font-size: 1.25rem;
  }

  .admin-dashboard th,
  .admin-dashboard td {
    font-size: 0.9rem;
    padding: 10px;
  }

  .admin-dashboard button {
    width: 90px;
    font-size: 0.85rem;
    padding: 6px 0;
  }

  .admin-dashboard td:last-child > div {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
